
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  
}

.body{
  font-family: roboto;
  background-color: #b6f0f1;
}

h1 {
  color: #0a0a0a;
}
h2 {
  color: #0a0a0a;
}
